---
layout: page
title : News
header : Post Archive
group: navigation
description: "WNoDeS news page"
---

{% include JB/setup %}

{% for post in site.posts limit:10 %}
<div class="row-fluid marketing news-row">
	<div class="span3"> 
		<div class="calendar"><h4>
			<span class="month">{{ post.date || date: "%Y - %b" }} </span>
			<span class="day">{{ post.date || date: "%d" }}</span>
		</h4></div>
    </div>
	<div class="span7">
    	<h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
		<p>{{post.summary}}</p>
	</div>
</div>
{% endfor %}